*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles
.DS_Store
/build
.idea
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/uiDesigner.xml
/qodana.yaml
api_secrets.properties
